<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>602347185837-jusukvjupacjlv0bhpmjq4u20jfkpm0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602347185837-jusukvjupacjlv0bhpmjq4u20jfkpm0s</string>
	<key>API_KEY</key>
	<string>AIzaSyCJCVRuW4Un_EmMSOX2wEFsIpPGMZhvtsc</string>
	<key>GCM_SENDER_ID</key>
	<string>602347185837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itgenius.smcombindapp</string>
	<key>PROJECT_ID</key>
	<string>combindapp-samit</string>
	<key>STORAGE_BUCKET</key>
	<string>combindapp-samit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602347185837:ios:efce6233a55bb352</string>
	<key>DATABASE_URL</key>
	<string>https://combindapp-samit.firebaseio.com</string>
</dict>
</plist>